@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html,
body {
    font-size: $font-size;

    @media (min-width: $breakpoint-medium) {
        font-size: $font-size-medium;
    }

    @media (min-width: $breakpoint-large) {
        //font-size: $font-size-large;
    }
}

body,
a {
    font-family: $font-family-content, $font-family-fallback;
    color: $color-text;
}
h1{
    font-size: 1.5em;
    font-weight: 700;
    margin: 1em 0 ;
    text-align: center;
}

.small-p{
    font-size: 0.7rem;
}