.menu .button-red{
    font-weight: bold;
}
.button-red{
    
    background-color: $color-bg-btn;
  //  line-height: normal !important;
    color: $color-text-alt!important;
    
 &:hover{
     color: yellow!important;
 }
}
.main .button-red{
    color: $color-text-alt!important;
}
.btn{
    line-height: 1!important;
}