.comments {
    
    p {
        font-size: $font-size;
    }
    
    .comment-body {
        background-color: $white;
        padding: 1em;

        .fn, .url {
            color: $red !important;
            font-weight: bold;
        }
         
        .reply {
            margin-bottom: 1em;
            font-size: $font-size-small;
            color: $anthracitegray;
        }
    }

    &-form {
        textarea {
            width: 500px!important;
        }
    }

    &-meta {
        font-size: $font-size-small;
    }

    &-reply-title {
        font-weight: bold;
    }
    
    .content-header {
        font-size: $font-size-medium;
        border-bottom: 1px solid $bordergray;
        margin: 2em 0;
    }
    
    .comments-list {
        margin: auto;

        &-item {
            margin-bottom: 1em;
            display: flex;
            flex-direction: row;
        }
    }

    .input-group {
        
        .comment-reply-title{
            color: $red;
            font-size: $font-size;
        }
    }
}