.footer-social {

    & ul {
        display: flex;
        justify-content: right;
        text-align: right;
    }
    
    @media (max-width: $breakpoint-medium) {
        ul {
            font-size: xx-large;
        }
    } 
}