.mylogin{
    width: 100%;
    color: $color-text-alt;
    margin: 1.5em auto 0;
    background-color: $color-bg-alt;
    
    @media (min-width: $breakpoint-large){
        box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, .35);
        border-radius: 1em;
        padding: 1em;
        width: 50%;
        
    }
    
    & h1{
        margin-top: 0;
    }

}