.main {
    .game_infos {

        &_title {
            color: $red;
            font-weight: bold;
            font-size: $font-size-large;
        }
    }

    .content-header {
        font-size: $font-size-medium;
        font-weight: bold;
    }

    .list-group {
        border-top: solid $bordergray 1px;
        
        &-item {
        background-color: $color-bg-site;
        font-size: $font-size-small;
        }
    }
}